/*
    import gg font
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    reset css
*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

/*
    body css
*/
body{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0A0519;
}

main{
    width: 250px;
    height: 400px;
    color: white;

}

/*
    header css
*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    background-color: #17122A;
}

header > div:hover{
    font-size: 35px;
    transform: scale(1.1);
}



.active {
    background-color: #17122A;
    border: 4px solid #2A2343;
}

.xplayer{
    /*
        tim: #a737ff
        xanh  #1875b2
    */
    color: #1875b2;
    width: 60px;
    height: 60px;
}

.oplayer{
    color: #a737ff;
    width: 60px;
    height: 60px;
}

/*
    section  game css
*/

.game-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 10%;
    height: 60%;
    width: 100%;
}
.game-container div:hover{
    background-color: #17122A;
    font-size: 35px;
    transform: scale(1.1);
}

/*
    section  button css
*/

#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}


button{
    width: 100%;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    background-color: #17122A;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}


button:hover{
    background-color: #2A2343;


}